# Supply azure search endpoint
AZURE_SEARCH_ENDPOINT = https://<ai-search-name>.search.windows.net

# Supply foundry project endpoint
PROJECT_ENDPOINT = https://<foundry-name>.services.ai.azure.com/api/projects/<project-name>

# Supply project resource id
PROJECT_RESOURCE_ID = /subscriptions/6977----------------------103/resourceGroups/<RG>/providers/Microsoft.CognitiveServices/accounts/<foundry-name>/projects/<project-name>

# Supply openai endpoint and model details; ensure models deployed
AZURE_OPENAI_ENDPOINT = https://<foundry-name>.openai.azure.com
AZURE_OPENAI_EMBEDDING_DEPLOYMENT = text-embedding-3-large
AGENT_MODEL = gpt-4.1-mini
