# Supply foundry project endpoint
FOUNDRY_PROJECT_ENDPOINT="https://<foundryname>.services.ai.azure.com/api/projects/<projectname>"
# Supply prompt or hosted agent name
FOUNDRY_MODEL_NAME="<model-name>"
