# Supply foundry project endpoint
FOUNDRY_PROJECT_ENDPOINT="https://<foundryname>.services.ai.azure.com/api/projects/<projectname>"
# Supply model deployment name
FOUNDRY_MODEL_NAME="<model-name>"

# Dataset details
DATASET_NAME="eval-data-2026-09-23_xxxxxx_7cb5b_UTC"
DATASET_VERSION="1"

