# Resource tenant id
TENANT_ID="..."

# ARM resource id till foundry project level
AZURE_AI_PROJECT_ID="/subscriptions/------/resourceGroups/------/providers/Microsoft.CognitiveServices/accounts/-----/projects/--------"

# Foundry project endpoint
AZURE_AI_PROJECT_ENDPOINT="https://{foundry-account-name}.services.ai.azure.com/api/projects/{project-name}"

# Model deployment name in foundry
AZURE_AI_MODEL_DEPLOYMENT_NAME="{deployment-name}"

# Fabric data agent connection in the foundry project
FABRIC_CONNECTION_NAME="{fabric-connection-name}"
