# Tenant and subscription information for Azure resources
TENANT_ID="..."
SUBSCRIPTION_ID="..."

# Foundry project ARM id till project level
AZURE_AI_PROJECT_ID="/subscriptions/---------/resourceGroups/{resource-group}/providers/Microsoft.CognitiveServices/accounts/{foundry-account}/projects/{project_name}"

# Foundry project and Fabric connection information
AZURE_AI_PROJECT_ENDPOINT="https://<resource>.ai.azure.com/api/projects/<project_name>"
FABRIC_CONNECTION_NAME="my-fabric-connection"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-5.4-mini"
FABRIC_AGENT_NAME="MyFabricAgent"

# Fabric workspace and artifact identifiers
FABRIC_WORKSPACE_ID=...
FABRIC_ARTIFACT_ID=...

