# Foundry resource configuration
FOUNDRY_PROJECT_ID="/subscriptions/{xxxxxxx}/resourceGroups/{xxxxxxx}/providers/Microsoft.CognitiveServices/accounts/{xxxxxxx}/projects/{xxxxxxx}"
FOUNDRY_PROJECT_ENDPOINT="https://{xxxxxxx}.services.ai.azure.com/api/projects/{xxxxxxx}"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-xx"
